<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="question" type="com.tanghsk.sync.domain.ElQuestions" />
		<typeAlias alias="option" type="com.tanghsk.sync.domain.ElQuestionsOptions" />
		<typeAlias alias="paper" type="com.tanghsk.sync.domain.EpExamPaper" />
		<typeAlias alias="pques" type="com.tanghsk.sync.domain.EpExamPaperQuestions" />
		<typeAlias alias="pstruc" type="com.tanghsk.sync.domain.EpExamPaperStrut" />
	</typeAliases>

</configuration>	
