<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="examUser" type="com.tanghsk.mock.admin.user.domain.ExamUser"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/tanghsk/mock/admin/user/mapper/ExamUserMapper.xml" />
	</mappers>
</configuration>	
